* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 30px;
}

body {
    background: #000;
}

h2 {
    margin: 0px 0px 0px 30px;
}

.slider {
    margin: 0 20px;
    overflow: "hidden";
    padding: 2rem 0;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
}

.slider img {
    width: 100%;
    border-radius: 10px;
    transform: scale(0.9);
}

.slider img:hover {
    transform: scale(1);
}

.react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
    border: none;
    background: rgb(255, 68, 68);
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
    background: rgb(255, 68, 68) !important;
}